* {
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  color: black;
}

h1 {
  font-size: 20px;
  text-align: center;
  background-color: #e0dede;
  font-weight: bolder;
  text-transform: uppercase;
  padding: 15px 30px;
  position: relative;
}

h1::before {
  content: "SALE";
  font-size: 15px;
  background-color: red;
  color: white;
  padding: 10px 15px;
  position: absolute;
  top: -20px;
  left: -35px;
  letter-spacing: 2px;
}

img {
  width: 200px;
  height: auto;
}

p {
  margin-bottom: 10px;
}

.price {
  font-size: 2rem;
}

.shipping {
  font-weight: bold;
  color: #585858;
  text-transform: uppercase;
  font-size: 15px;
  margin-bottom: 20px;
}

a {
  color: black;
}
.info {
  margin-bottom: 30px;
}

a:hover {
  text-decoration: none;
}

h3 {
  text-transform: uppercase;
  margin-bottom: 15px;
}

.description {
  list-style: square;
  margin-left: 20px;
}

li {
  margin-bottom: 15px;
}

button {
  background-color: black;
  color: white;
  font-size: 20px;
  text-transform: uppercase;
  width: 100%;
  height: 50px;
}

button:hover {
  background-color: white;
  color: black;
  cursor: pointer;
}

.container {
  width: 825px;
  height: auto;
  border: 5px solid black;
  margin: 50px auto;
}

.colors {
  margin-bottom: 20px;
}

.color {
  background-color: black;
  width: 20px;
  height: 20px;
  margin: 2px;
  display: inline-block;
}

.black {
  background-color: black;
}

.blue {
  background-color: blue;
}

.red {
  background-color: red;
}

.yellow {
  background-color: yellow;
}

.green {
  background-color: green;
}

.brown {
  background-color: brown;
}
